:root {
	--rot-anim-dur: 0.6s;
	--rot-anim-iterations: 1;
	--biscuit-anim-dur: calc(var(--rot-anim-dur)*0.6);
	--biscuit-anim-delay: calc(var(--rot-anim-dur)*0.3);
	--biscuit-transform: scale(2,2) translate(0,-40%);
	--rot-direction: -1;
}

body {
	--toggle: 1;
	--playState: "running"	;
	position: relative;
}

#display_div {
	position:absolute;
	top:0px;
	left:0px;
	width:1120px;
	height: 640px;
	overflow:hidden; 
}

#carousell_div {
	position: absolute;
	top: 0px;
	left:160px;
	width: 800px;
	height: 600px;
	overflow: hidden;
}

#container {
    position: relative;
    top: 200px;
    left: 0%;
    width: 800px;
    height: 800px;
    z-index: 1;
}

#container2 {
	position: absolute;
    top: 0%;
    left: 0%;
	width:800px;
	height:800px;
	z-index: 2;
}

#biscuit_tin {
	position: absolute;
	top :0;
	left:0;
	object-fit: cover;
}

.bisc_div {
	position: absolute;
	z-index: 3
}

.biscuits {
	max-width: 190px;
	max-height: 190px;
	z-index: 3;
}

#controls_div {
	position: absolute;
	top:95%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 6;
}

.controls {
	width:60px;
	height:50px;
	display: inline-block;
	position: relative;
}

.step_controls {
	width:40px;
	top:-40px;
}

#rewind {
	left:10px;
}

#forward_wind {
	left:-10px;
}

#occasion_div {
	bottom:10px;
	left: -80px;
	position: absolute;
	width: 1120px; 
	z-index: 6;
}

.letters {
	height:20px;
	width:auto;
	display: inline-block;
}

#letter_space {
	height: 20px;
	width: 7px;
}

.occasion {
	width:calc(97%*(1/7));
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-top:0px;
}

/* ANIMATION*/

.rotate_container {
   -webkit-animation:spin var(--rot-anim-dur) linear var(--rot-anim-iterations) forwards;
    -moz-animation:spin var(--rot-anim-dur) linear var(--rot-anim-iterations) forwards;
    animation:spin var(--rot-anim-dur) linear var(--rot-anim-iterations) forwards;
}

.magnify_biscuit {
   -webkit-animation:magnify var(--biscuit-anim-dur) linear var(--rot-anim-iterations) var(--biscuit-anim-delay) forwards;
    -moz-animation:magnify var(--biscuit-anim-dur) linear var(--rot-anim-iterations) var(--biscuit-anim-delay) forwards;
    animation:magnify var(--biscuit-anim-dur) linear var(--rot-anim-iterations) var(--biscuit-anim-delay) forwards;
}

.shrink_biscuit {
   -webkit-animation:shrink var(--biscuit-anim-dur) linear var(--biscuit-anim-delay) var(--rot-anim-iterations) forwards;
    -moz-animation:shrink var(--biscuit-anim-dur) linear var(--biscuit-anim-delay) var(--rot-anim-iterations) forwards;
    animation:shrink var(--biscuit-anim-dur) linear var(--biscuit-anim-delay) var(--rot-anim-iterations) forwards;
}

.float_biscuit {
	-webkit-animation: float var(--biscuit-anim-dur) linear var(--biscuit-anim-delay) var(--rot-anim-iterations) forwards;
    -moz-animation: float var(--biscuit-anim-dur) linear var(--biscuit-anim-delay) var(--rot-anim-iterations) forwards;
    animation: float var(--biscuit-anim-dur) linear var(--biscuit-anim-delay) var(--rot-anim-iterations) forwards;
}

.sink_biscuit {
	-webkit-animation: sink var(--biscuit-anim-dur) linear var(--biscuit-anim-delay) var(--rot-anim-iterations) forwards;
    -moz-animation: sink var(--biscuit-anim-dur) linear var(--biscuit-anim-delay) var(--rot-anim-iterations) forwards;
    animation: sink var(--biscuit-anim-dur) linear var(--biscuit-anim-delay) var(--rot-anim-iterations) forwards;
}

.shift_occasions {
	-webkit-animation: shift var(--rot-anim-dur) linear 1 forwards;
    -moz-animation: shift var(--rot-anim-dur) linear 1 forwards;
    animation: shift var(--rot-anim-dur) linear 1 forwards;
}

.fading_occasions {
	-webkit-animation: fade var(--rot-anim-dur) linear 1;
    -moz-animation: fade var(--rot-anim-dur) linear 1;
    animation: fade var(--rot-anim-dur) linear 1;
    animation-timing-function: ease-out;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(calc(45deg*var(--rot-direction))); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(calc(45deg*var(--rot-direction))); } }
@keyframes spin { 100% { -webkit-transform: rotate(calc(45deg*var(--rot-direction))); transform:rotate(calc(45deg*var(--rot-direction))); } }

@-moz-keyframes magnify { 100% { -moz-transform: var(--biscuit-transform) ; z-index:4;} }
@-webkit-keyframes magnify { 100% { -webkit-transform: var(--biscuit-transform) ; z-index:4; } }
@keyframes magnify{ 100% { -webkit-transform: var(--biscuit-transform) ; z-index:4; transform: var(--biscuit-transform) } }

@-moz-keyframes shrink { 100% { -moz-transform: scale(1,1) translate(0,0) ; z-index:3; } }
@-webkit-keyframes shrink { 100% { -webkit-transform: scale(1,1) translate(0,0) ; z-index:3; } }
@keyframes shrink{ 100% { -webkit-transform: scale(1,1) translate(0,0) ; z-index:3; transform: scale(1,1) translate(0,0) ;} }

@-moz-keyframes float { 100% { z-index:4; } }
@-webkit-keyframes float { 100% {  z-index:4; } }
@keyframes float { 100% {  z-index:4; } }

@-moz-keyframes sink { 100% { z-index:3; } }
@-webkit-keyframes sink { 100% {  z-index:3; } }
@keyframes sink { 100% {  z-index:3; } }

@-moz-keyframes shift { 100% {  -moz-transform: translate(calc(20%*(1/7)*var(--rot-direction)),0); } }
@-webkit-keyframes shift { 100% {  -webkit-transform: translate(calc(20%*(1/7)*var(--rot-direction)),0);  } }
@keyframes shift { 100% {  -webkit-transform: translate(calc(20%*(1/7)*var(--rot-direction)),0); transform: translate(calc(100%*(1/7)*var(--rot-direction)),0); } }

@-moz-keyframes fade { 100% {  opacity: 0; } }
@-webkit-keyframes fade { 100% {  opacity: 0;  } }
@keyframes fade { 100% {  opacity: 0; } }